<%= form_for(family_recipe) do |f| %>
  <% if family_recipe.errors.any? %>
    <div id="error_explanation">
      <h3><%= pluralize(family_recipe.errors.count, "error") %> prohibited this recipe from being saved:</h3>

      <ul class="list-group">
      <% family_recipe.errors.full_messages.each do |message| %>
        <li class="list-group-item"><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title %>
    <%= f.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label "Check the box to publish the fish" %>
    <%= f.check_box :publish, class: 'checkbox' %>
  </div>

  <div class="form-group">
    <%= f.label :category %>
    <%= f.text_field :category, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :short_description %>
    <%= f.text_area :short_description, class: 'form-control non-resizable', rows: '3' %>
  </div>

  <div class="form-group">
    <%= f.label :country %>
    <%= f.text_field :country, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= f.label :long_description %>
    <%= f.text_area :long_description, class: 'form-control non-resizable', rows: '5' %>
  </div>

  <p class="padding-tb">Great cooking goes beyond following a recipe--it's knowing how to season ingredients to coax the greatest possible flavor from them.</p>

  <div class="row">
    <div class="col-md-6">
      <div class="panel panel-success">
        <div class="panel-heading">
          <h2>Ingredients</h2>
        </div>
        <div id="tasks">
          <div class="ingredient">
            <%= f.fields_for :ingredients do |i| %>
            <%= render 'ingredient_fields', :f => i %>
            <% end %>
          </div>
          <div class="padding-tb">
            <%= link_to_add_association '', f, :ingredients, data: { association_insertion_node: '.ingredient', association_insertion_method: :append }, class: 'btn btn-success glyphicon glyphicon-plus' %>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="panel panel-warning">
        <div class="panel-heading">
          <h2>Cooking Directions</h2>
        </div>
        <div id="tasks">
          <div class="direction">
            <%= f.fields_for :cooking_directions do |c| %>
            <%= render 'cooking_direction_fields', :f => c %>
            <% end %>
          </div>
          <div class="padding-tb">
            <%= link_to_add_association '', f, :cooking_directions, data: { association_insertion_node: '.direction', association_insertion_method: :append }, class: 'btn btn-warning glyphicon glyphicon-plus' %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="padding-tb pull-right">
    <%= f.submit "Done", class: 'btn btn-primary' %>
  </div>
<% end %>
