<%= form_for(family_recipe) do |f| %>
  <% if family_recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_recipe.errors.count, "error") %> prohibited this family_recipe from being saved:</h2>

      <ul>
      <% family_recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :category %>
    <%= f.text_field :category %>
  </div>

  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_area :short_description %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :long_description %>
    <%= f.text_area :long_description %>
  </div>

  <h2>Ingredients</h2>
  <div id="tasks">
    <div class="ingredient">
      <%= f.fields_for :ingredients do |i| %>
        <%= render 'ingredient_fields', :f => i %>
      <% end %>
    </div>
  </div>

  <h2>Cooking Directions</h2>
  <div id="tasks">
    <div class="direction">
      <%= f.fields_for :cooking_directions do |c| %>
        <%= render 'cooking_direction_fields', :f => c %>
      <% end %>
    </div>
  </div>

  <div class="actions">
    <%= link_to_add_association 'Add ingredient', f, :ingredients, data: { association_insertion_node: '.ingredient', association_insertion_method: :append } %>
    <%= link_to_add_association 'Add new cooking direction', f, :cooking_directions, data: { association_insertion_node: '.direction', association_insertion_method: :append } %>
    <%= f.submit %>
  </div>
<% end %>
