<div class="nested-fields">
  <div class="field">
    <%= f.label :ingredient %>
    <%= f.text_field :ingredient %>
  </div>

  <div class="field">
    <%= f.check_box :done %>
    <%= f.label :done %>
  </div>

  <%= link_to_remove_association "delete ingredient", f %>
</div>
